  body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      user-select: none;
      cursor: none;
    }
    .lxrd {
      position: fixed;
      bottom: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      transform: translateX(calc((100% - 100vw) / 2));
      z-index: -1;
      background-color: #000;
    }
    .k1773n {
      position: relative;
      z-index: 1;
      color: #ff0000;
      text-shadow: 1px 1px 1px #000;
      font-weight: bold;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Poiret One", sans-serif;
      font-size: 1.2rem;
    }
    #lol {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
